<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (apsMembership) {
      <div>
        <h2 data-cy="apsMembershipDetailsHeading"><span>Aps Membership</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt *ngIf="ua.id.visible"><span>ID</span></dt>
          <dd *ngIf="ua.id.visible">
            <span>{{ apsMembership.id }}</span>
          </dd>
          <dt *ngIf="ua.period.visible"><span>Period</span></dt>
          <dd *ngIf="ua.period.visible">
            <span>{{ apsMembership.period }}</span>
          </dd>
          <dt *ngIf="ua.license.visible"><span>License</span></dt>
          <dd *ngIf="ua.license.visible">
            <span>{{ apsMembership.license }}</span>
          </dd>
          <dt *ngIf="ua.username.visible"><span>Username</span></dt>
          <dd *ngIf="ua.username.visible">
            <span>{{ apsMembership.username }}</span>
          </dd>
          <dt *ngIf="ua.apsOrder.visible"><span>Aps Order</span></dt>
          <dd *ngIf="ua.apsOrder.visible">
            @if (apsMembership.apsOrder) {
              <div>
                <a [routerLink]="['/aps-order', apsMembership.apsOrder.id, 'view']">{{ apsMembership.apsOrder.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/aps-membership', apsMembership.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
