<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-aps-user-heading" data-cy="ApsUserCreateUpdateHeading">Aps User</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3" *ngIf="ua.name.visible">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.username.visible">
          <label class="form-label" for="field_username">Username</label>
          <input type="text" class="form-control" name="username" id="field_username" data-cy="username" formControlName="username" />
          @if (editForm.get('username')!.invalid && (editForm.get('username')!.dirty || editForm.get('username')!.touched)) {
            <div>
              @if (editForm.get('username')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.usernameVerified.visible">
          <label class="form-label" for="field_usernameVerified">Username Verified</label>
          <input
            type="checkbox"
            class="form-check"
            name="usernameVerified"
            id="field_usernameVerified"
            data-cy="usernameVerified"
            formControlName="usernameVerified"
          />
          @if (
            editForm.get('usernameVerified')!.invalid &&
            (editForm.get('usernameVerified')!.dirty || editForm.get('usernameVerified')!.touched)
          ) {
            <div>
              @if (editForm.get('usernameVerified')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.privateEmail.visible">
          <label class="form-label" for="field_privateEmail">Private Email</label>
          <input
            type="text"
            class="form-control"
            name="privateEmail"
            id="field_privateEmail"
            data-cy="privateEmail"
            formControlName="privateEmail"
          />
          @if (editForm.get('privateEmail')!.invalid && (editForm.get('privateEmail')!.dirty || editForm.get('privateEmail')!.touched)) {
            <div>
              @if (editForm.get('privateEmail')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.privateVerified.visible">
          <label class="form-label" for="field_privateVerified">Private Verified</label>
          <input
            type="checkbox"
            class="form-check"
            name="privateVerified"
            id="field_privateVerified"
            data-cy="privateVerified"
            formControlName="privateVerified"
          />
          @if (
            editForm.get('privateVerified')!.invalid && (editForm.get('privateVerified')!.dirty || editForm.get('privateVerified')!.touched)
          ) {
            <div>
              @if (editForm.get('privateVerified')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.language.visible">
          <label class="form-label" for="field_language">Language</label>
          <select class="form-control" name="language" formControlName="language" id="field_language" data-cy="language">
            <option [ngValue]="null"></option>
            @for (language of languageValues; track $index) {
              <option [value]="language">{{ language }}</option>
            }
          </select>
          @if (editForm.get('language')!.invalid && (editForm.get('language')!.dirty || editForm.get('language')!.touched)) {
            <div>
              @if (editForm.get('language')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.license.visible">
          <label class="form-label" for="field_license">License</label>
          <input type="text" class="form-control" name="license" id="field_license" data-cy="license" formControlName="license" />
        </div>

        <div class="mb-3" *ngIf="ua.active.visible">
          <label class="form-label" for="field_active">Active</label>
          <input type="checkbox" class="form-check" name="active" id="field_active" data-cy="active" formControlName="active" />
          @if (editForm.get('active')!.invalid && (editForm.get('active')!.dirty || editForm.get('active')!.touched)) {
            <div>
              @if (editForm.get('active')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.password.visible">
          <label class="form-label" for="field_password">Password</label>
          <input type="text" class="form-control" name="password" id="field_password" data-cy="password" formControlName="password" />
        </div>

        <div class="mb-3" *ngIf="ua.created.visible">
          <label class="form-label" for="field_created">Created</label>
          <div class="d-flex">
            <input
              id="field_created"
              data-cy="created"
              type="datetime-local"
              class="form-control"
              name="created"
              formControlName="created"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3" *ngIf="ua.updated.visible">
          <label class="form-label" for="field_updated">Updated</label>
          <div class="d-flex">
            <input
              id="field_updated"
              data-cy="updated"
              type="datetime-local"
              class="form-control"
              name="updated"
              formControlName="updated"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
