<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-invoice-item-heading" data-cy="InvoiceItemCreateUpdateHeading">Invoice Item</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3" *ngIf="ua.id.visible">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3" *ngIf="ua.type.visible">
          <label class="form-label" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null"></option>
            @for (productType of productTypeValues; track $index) {
              <option [value]="productType">{{ productType }}</option>
            }
          </select>
          @if (editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)) {
            <div>
              @if (editForm.get('type')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.description.visible">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          @if (editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)) {
            <div>
              @if (editForm.get('description')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.quantity.visible">
          <label class="form-label" for="field_quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
          @if (editForm.get('quantity')!.invalid && (editForm.get('quantity')!.dirty || editForm.get('quantity')!.touched)) {
            <div>
              @if (editForm.get('quantity')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('quantity')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.priceUnit.visible">
          <label class="form-label" for="field_priceUnit">Price Unit</label>
          <input type="number" class="form-control" name="priceUnit" id="field_priceUnit" data-cy="priceUnit" formControlName="priceUnit" />
          @if (editForm.get('priceUnit')!.invalid && (editForm.get('priceUnit')!.dirty || editForm.get('priceUnit')!.touched)) {
            <div>
              @if (editForm.get('priceUnit')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('priceUnit')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.priceExtended.visible">
          <label class="form-label" for="field_priceExtended">Price Extended</label>
          <input
            type="number"
            class="form-control"
            name="priceExtended"
            id="field_priceExtended"
            data-cy="priceExtended"
            formControlName="priceExtended"
          />
          @if (editForm.get('priceExtended')!.invalid && (editForm.get('priceExtended')!.dirty || editForm.get('priceExtended')!.touched)) {
            <div>
              @if (editForm.get('priceExtended')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('priceExtended')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.disRate.visible">
          <label class="form-label" for="field_disRate">Dis Rate</label>
          <input type="number" class="form-control" name="disRate" id="field_disRate" data-cy="disRate" formControlName="disRate" />
          @if (editForm.get('disRate')!.invalid && (editForm.get('disRate')!.dirty || editForm.get('disRate')!.touched)) {
            <div>
              @if (editForm.get('disRate')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('disRate')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.disAmount.visible">
          <label class="form-label" for="field_disAmount">Dis Amount</label>
          <input type="number" class="form-control" name="disAmount" id="field_disAmount" data-cy="disAmount" formControlName="disAmount" />
          @if (editForm.get('disAmount')!.invalid && (editForm.get('disAmount')!.dirty || editForm.get('disAmount')!.touched)) {
            <div>
              @if (editForm.get('disAmount')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('disAmount')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.finalPrice.visible">
          <label class="form-label" for="field_finalPrice">Final Price</label>
          <input
            type="number"
            class="form-control"
            name="finalPrice"
            id="field_finalPrice"
            data-cy="finalPrice"
            formControlName="finalPrice"
          />
          @if (editForm.get('finalPrice')!.invalid && (editForm.get('finalPrice')!.dirty || editForm.get('finalPrice')!.touched)) {
            <div>
              @if (editForm.get('finalPrice')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('finalPrice')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.vatRate.visible">
          <label class="form-label" for="field_vatRate">Vat Rate</label>
          <input type="number" class="form-control" name="vatRate" id="field_vatRate" data-cy="vatRate" formControlName="vatRate" />
          @if (editForm.get('vatRate')!.invalid && (editForm.get('vatRate')!.dirty || editForm.get('vatRate')!.touched)) {
            <div>
              @if (editForm.get('vatRate')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('vatRate')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.vatAmount.visible">
          <label class="form-label" for="field_vatAmount">Vat Amount</label>
          <input type="number" class="form-control" name="vatAmount" id="field_vatAmount" data-cy="vatAmount" formControlName="vatAmount" />
          @if (editForm.get('vatAmount')!.invalid && (editForm.get('vatAmount')!.dirty || editForm.get('vatAmount')!.touched)) {
            <div>
              @if (editForm.get('vatAmount')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('vatAmount')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.total.visible">
          <label class="form-label" for="field_total">Total</label>
          <input type="number" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
          @if (editForm.get('total')!.invalid && (editForm.get('total')!.dirty || editForm.get('total')!.touched)) {
            <div>
              @if (editForm.get('total')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('total')?.errors?.number">This field should be a number.</small>
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.invoice.visible">
          <label class="form-label" for="field_invoice">Invoice</label>
          <select
            class="form-control"
            id="field_invoice"
            data-cy="invoice"
            name="invoice"
            formControlName="invoice"
            [compareWith]="compareInvoice"
          >
            <option [ngValue]="null"></option>
            @for (invoiceOption of invoicesSharedCollection; track $index) {
              <option [ngValue]="invoiceOption">{{ invoiceOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
