<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-notification-heading" data-cy="NotificationCreateUpdateHeading">Notification</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3" *ngIf="ua.id.visible">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3" *ngIf="ua.customer.visible">
          @if (notification?.customer) {
            <label class="form-label">Customer</label>
            <input type="text" class="form-control-read" value="{{notification?.customer?.name}}" [readonly]="true" />
          } @else {
            <customer-selector [control]="customerControl()" [required]="false" id="field_customer"></customer-selector>
          }
        </div>

        <div class="mb-3" *ngIf="ua.title.visible">
          <label class="form-label" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          @if (editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)) {
            <div>
              @if (editForm.get('title')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.message.visible">
          <label class="form-label" for="field_message">Message</label>
          <input type="text" class="form-control" name="message" id="field_message" data-cy="message" formControlName="message" />
          @if (editForm.get('message')!.invalid && (editForm.get('message')!.dirty || editForm.get('message')!.touched)) {
            <div>
              @if (editForm.get('message')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.language.visible">
          <label class="form-label" for="field_language">Language</label>
          <select class="form-control" name="language" formControlName="language" id="field_language" data-cy="language">
            <option [ngValue]="null"></option>
            @for (language of languageValues; track $index) {
              <option [value]="language">{{ language }}</option>
            }
          </select>
          @if (editForm.get('language')!.invalid && (editForm.get('language')!.dirty || editForm.get('language')!.touched)) {
            <div>
              @if (editForm.get('language')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.imageUrl.visible">
          <label class="form-label" for="field_imageUrl">Image Url</label>
          <input type="text" class="form-control" name="imageUrl" id="field_imageUrl" data-cy="imageUrl" formControlName="imageUrl" />
        </div>

        <div class="mb-3" *ngIf="ua.videoUrl.visible">
          <label class="form-label" for="field_videoUrl">Video Url</label>
          <input type="text" class="form-control" name="videoUrl" id="field_videoUrl" data-cy="videoUrl" formControlName="videoUrl" />
        </div>

        <div class="mb-3" *ngIf="ua.starts.visible">
          <label class="form-label" for="field_starts">Starts</label>
          <div class="input-group">
            <input
              id="field_starts"
              data-cy="starts"
              type="text"
              class="form-control"
              name="starts"
              ngbDatepicker
              #startsDp="ngbDatepicker"
              formControlName="starts"
            />
            <button type="button" class="btn btn-secondary" (click)="startsDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3" *ngIf="ua.expires.visible">
          <label class="form-label" for="field_expires">Expires</label>
          <div class="input-group">
            <input
              id="field_expires"
              data-cy="expires"
              type="text"
              class="form-control"
              name="expires"
              ngbDatepicker
              #expiresDp="ngbDatepicker"
              formControlName="expires"
            />
            <button type="button" class="btn btn-secondary" (click)="expiresDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
