<div>
  <h2 id="page-heading" data-cy="CoachHeading">
    <span>Coaches</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-coach"
        [routerLink]="['/coach/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>New Coach</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (coaches?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Coaches found</span>
    </div>
  }

  @if (coaches && coaches.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id" *ngIf="ua.id.listable">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type" *ngIf="ua.type.listable">
              <div class="d-flex">
                <span>Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name" *ngIf="ua.name.listable">
              <div class="d-flex">
                <span>Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email" *ngIf="ua.email.listable">
              <div class="d-flex">
                <span>Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="website" *ngIf="ua.website.listable">
              <div class="d-flex">
                <span>Website</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="instagram" *ngIf="ua.instagram.listable">
              <div class="d-flex">
                <span>Instagram</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phoneNumber" *ngIf="ua.phoneNumber.listable">
              <div class="d-flex">
                <span>Phone Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="country" *ngIf="ua.country.listable">
              <div class="d-flex">
                <span>Country</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="speaks" *ngIf="ua.speaks.listable">
              <div class="d-flex">
                <span>Speaks</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="resume" *ngIf="ua.resume.listable">
              <div class="d-flex">
                <span>Resume</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="notes" *ngIf="ua.notes.listable">
              <div class="d-flex">
                <span>Notes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="created" *ngIf="ua.created.listable">
              <div class="d-flex">
                <span>Created</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updated" *ngIf="ua.updated.listable">
              <div class="d-flex">
                <span>Updated</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (coach of coaches; track trackId) {
            <tr data-cy="entityTable">
              <td *ngIf="ua.id.listable">
                <a [routerLink]="['/coach', coach.id, 'view']">{{ coach.id }}</a>
              </td>
              <td *ngIf="ua.type.listable">{{ coach.type }}</td>
              <td *ngIf="ua.name.listable">{{ coach.name }}</td>
              <td *ngIf="ua.email.listable">{{ coach.email }}</td>
              <td *ngIf="ua.website.listable">{{ coach.website }}</td>
              <td *ngIf="ua.instagram.listable">{{ coach.instagram }}</td>
              <td *ngIf="ua.phoneNumber.listable">{{ coach.phoneNumber }}</td>
              <td *ngIf="ua.country.listable">{{ coach.country }}</td>
              <td *ngIf="ua.speaks.listable">{{ coach.speaks }}</td>
              <td *ngIf="ua.resume.listable">{{ coach.resume }}</td>
              <td *ngIf="ua.notes.listable">{{ coach.notes }}</td>
              <td *ngIf="ua.created.listable">{{ coach.created | formatMediumDatetime }}</td>
              <td *ngIf="ua.updated.listable">{{ coach.updated | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/coach', coach.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                  </a>

                  <a [routerLink]="['/coach', coach.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </a>

                  <button type="submit" (click)="delete(coach)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (coaches && coaches.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
