<div>
  <h2 id="page-heading" data-cy="InvoiceHeading">
    <span>Invoices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-invoice"
        [routerLink]="['/invoice/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Invoice</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (invoices?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Invoices found</span>
    </div>
  }

  @if (invoices && invoices.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="number">
              <div class="d-flex">
                <span>Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="issued">
              <div class="d-flex">
                <span>Issued</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dueDate">
              <div class="d-flex">
                <span>Due Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="saleDate">
              <div class="d-flex">
                <span>Sale Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="subtotal">
              <div class="d-flex">
                <span>Subtotal</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vat">
              <div class="d-flex">
                <span>Vat</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="total">
              <div class="d-flex">
                <span>Total</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="paid">
              <div class="d-flex">
                <span>Paid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="paidDate">
              <div class="d-flex">
                <span>Paid Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="diff">
              <div class="d-flex">
                <span>Diff</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="notes">
              <div class="d-flex">
                <span>Notes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="apsOrder.id">
              <div class="d-flex">
                <span>Aps Order</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (invoice of invoices; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/invoice', invoice.id, 'view']">{{ invoice.id }}</a>
              </td>
              <td>{{ invoice.number }}</td>
              <td>{{ invoice.issued | formatMediumDatetime }}</td>
              <td>{{ invoice.dueDate | formatMediumDate }}</td>
              <td>{{ invoice.saleDate | formatMediumDate }}</td>
              <td>{{ invoice.subtotal }}</td>
              <td>{{ invoice.vat }}</td>
              <td>{{ invoice.total }}</td>
              <td>{{ invoice.paid }}</td>
              <td>{{ invoice.paidDate | formatMediumDate }}</td>
              <td>{{ invoice.diff }}</td>
              <td>{{ invoice.notes }}</td>
              <td>
                @if (invoice.apsOrder) {
                  <div>
                    <a [routerLink]="['/aps-order', invoice.apsOrder.id, 'view']">{{ invoice.apsOrder.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/invoice', invoice.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/invoice', invoice.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(invoice)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
