<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (playList) {
      <div>
        <h2 data-cy="playListDetailsHeading"><span>Play List</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ playList.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ playList.name }}</span>
          </dd>
          <dt><span>Counter</span></dt>
          <dd>
            <span>{{ playList.counter }}</span>
          </dd>
          <dt><span>Created</span></dt>
          <dd>
            <span>{{ playList.created | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Updated</span></dt>
          <dd>
            <span>{{ playList.updated | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Aps User</span></dt>
          <dd>
            @if (playList.apsUser) {
              <div>
                <a [routerLink]="['/aps-user', playList.apsUser.id, 'view']">{{ playList.apsUser.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/play-list', playList.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
