<div>
  <h2 id="page-heading" data-cy="ArticleHeading">
    <span>Articles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-article"
        [routerLink]="['/article/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Article</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (articles?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Articles found</span>
    </div>
  }

  @if (articles && articles.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span>Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span>Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="subtitle">
              <div class="d-flex">
                <span>Subtitle</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="summary">
              <div class="d-flex">
                <span>Summary</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="language">
              <div class="d-flex">
                <span>Language</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tags">
              <div class="d-flex">
                <span>Tags</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="duration">
              <div class="d-flex">
                <span>Duration</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="thumbnail">
              <div class="d-flex">
                <span>Thumbnail</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="audioUrl">
              <div class="d-flex">
                <span>Audio Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="content">
              <div class="d-flex">
                <span>Content</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="seriesId">
              <div class="d-flex">
                <span>Series Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="chapter">
              <div class="d-flex">
                <span>Chapter</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="created">
              <div class="d-flex">
                <span>Created</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updated">
              <div class="d-flex">
                <span>Updated</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="released">
              <div class="d-flex">
                <span>Released</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="archived">
              <div class="d-flex">
                <span>Archived</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="articleCategory.id">
              <div class="d-flex">
                <span>Article Category</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="coach.id">
              <div class="d-flex">
                <span>Coach</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (article of articles; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/article', article.id, 'view']">{{ article.id }}</a>
              </td>
              <td>{{ article.code }}</td>
              <td>{{ article.title }}</td>
              <td>{{ article.subtitle }}</td>
              <td>{{ article.summary }}</td>
              <td>{{ article.language }}</td>
              <td>{{ article.tags }}</td>
              <td>{{ article.duration }}</td>
              <td>{{ article.thumbnail }}</td>
              <td>{{ article.audioUrl }}</td>
              <td>{{ article.content }}</td>
              <td>{{ article.seriesId }}</td>
              <td>{{ article.chapter }}</td>
              <td>{{ article.created | formatMediumDatetime }}</td>
              <td>{{ article.updated | formatMediumDatetime }}</td>
              <td>{{ article.released | formatMediumDatetime }}</td>
              <td>{{ article.archived | formatMediumDatetime }}</td>
              <td>
                @if (article.articleCategory) {
                  <div>
                    <a [routerLink]="['/article-category', article.articleCategory.id, 'view']">{{ article.articleCategory.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (article.coach) {
                  <div>
                    <a [routerLink]="['/coach', article.coach.id, 'view']">{{ article.coach.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/article', article.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/article', article.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(article)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (articles && articles.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
