<div>
  <h2 id="page-heading" data-cy="ApsUserHeading">
    <span>Aps Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-aps-user"
        [routerLink]="['/aps-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Aps User</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (apsUsers?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Aps Users found</span>
    </div>
  }

  @if (apsUsers && apsUsers.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span>Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="username">
              <div class="d-flex">
                <span>Username</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="usernameVerified">
              <div class="d-flex">
                <span>Username Verified</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="privateEmail">
              <div class="d-flex">
                <span>Private Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="privateVerified">
              <div class="d-flex">
                <span>Private Verified</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="language">
              <div class="d-flex">
                <span>Language</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="license">
              <div class="d-flex">
                <span>License</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="active">
              <div class="d-flex">
                <span>Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="password">
              <div class="d-flex">
                <span>Password</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="created">
              <div class="d-flex">
                <span>Created</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updated">
              <div class="d-flex">
                <span>Updated</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (apsUser of apsUsers; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/aps-user', apsUser.id, 'view']">{{ apsUser.id }}</a>
              </td>
              <td>{{ apsUser.name }}</td>
              <td>{{ apsUser.username }}</td>
              <td>{{ apsUser.usernameVerified }}</td>
              <td>{{ apsUser.privateEmail }}</td>
              <td>{{ apsUser.privateVerified }}</td>
              <td>{{ apsUser.language }}</td>
              <td>{{ apsUser.license }}</td>
              <td>{{ apsUser.active }}</td>
              <td>{{ apsUser.password }}</td>
              <td>{{ apsUser.created | formatMediumDatetime }}</td>
              <td>{{ apsUser.updated | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/aps-user', apsUser.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/aps-user', apsUser.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(apsUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (apsUsers && apsUsers.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
