<div>
  <h2 id="page-heading" data-cy="ApsUserHeading">
    <span>Aps Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-aps-user"
        [routerLink]="['/aps-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>New App User</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (apsUsers?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No App Users found</span>
    </div>
  }

  @if (apsUsers && apsUsers.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id" *ngIf="ua.id.listable">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="active" *ngIf="ua.active.listable">
              <div class="d-flex">
                <span>Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name" *ngIf="ua.name.listable">
              <div class="d-flex">
                <span>Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="username" *ngIf="ua.username.listable">
              <div class="d-flex">
                <span>Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="usernameVerified" *ngIf="ua.usernameVerified.listable">
              <div class="d-flex">
                <span>Verified</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="privateEmail" *ngIf="ua.privateEmail.listable">
              <div class="d-flex">
                <span>Private</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="privateVerified" *ngIf="ua.privateVerified.listable">
              <div class="d-flex">
                <span>Verified</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="language" *ngIf="ua.language.listable">
              <div class="d-flex">
                <span>Lang</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="license" *ngIf="ua.license.listable">
              <div class="d-flex">
                <span>License</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="created" *ngIf="ua.created.listable">
              <div class="d-flex">
                <span>Created</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updated" *ngIf="ua.updated.listable">
              <div class="d-flex">
                <span>Updated</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (apsUser of apsUsers; track trackId) {
            <tr data-cy="entityTable">
              <td *ngIf="ua.id.listable">
                <a [routerLink]="['/aps-user', apsUser.id, 'view']">{{ apsUser.id }}</a>
              </td>
              <td *ngIf="ua.active.listable">{{ apsUser.active }}</td>
              <td *ngIf="ua.name.listable">{{ apsUser.name }}</td>
              <td *ngIf="ua.username.listable">{{ apsUser.username }}</td>
              <td *ngIf="ua.usernameVerified.listable">{{ apsUser.usernameVerified }}</td>
              <td *ngIf="ua.privateEmail.listable">{{ apsUser.privateEmail }}</td>
              <td *ngIf="ua.privateVerified.listable">{{ apsUser.privateVerified }}</td>
              <td *ngIf="ua.language.listable">{{ apsUser.language }}</td>
              <td *ngIf="ua.license.listable">{{ apsUser.license }}</td>
              <td *ngIf="ua.created.listable">{{ apsUser.created | formatMediumDate }}</td>
              <td *ngIf="ua.updated.listable">{{ apsUser.updated | formatMediumDate }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/aps-user', apsUser.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                  </a>

                  <a [routerLink]="['/aps-user', apsUser.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </a>

                  <button type="submit" (click)="delete(apsUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (apsUsers && apsUsers.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
