<div>
  <h2 id="page-heading" data-cy="ArticleCategoryHeading">
    <span>Article Categories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-article-category"
        [routerLink]="['/article-category/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>New Article Category</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (articleCategories?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Article Categories found</span>
    </div>
  }

  @if (articleCategories && articleCategories.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id" *ngIf="ua.id.listable">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="code" *ngIf="ua.code.listable">
              <div class="d-flex">
                <span>Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title" *ngIf="ua.title.listable">
              <div class="d-flex">
                <span>Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="label" *ngIf="ua.label.listable">
              <div class="d-flex">
                <span>Label</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="created" *ngIf="ua.created.listable">
              <div class="d-flex">
                <span>Created</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="release" *ngIf="ua.release.listable">
              <div class="d-flex">
                <span>Release</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="archived" *ngIf="ua.archived.listable">
              <div class="d-flex">
                <span>Archived</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (articleCategory of articleCategories; track trackId) {
            <tr data-cy="entityTable">
              <td *ngIf="ua.id.listable">
                <a [routerLink]="['/article-category', articleCategory.id, 'view']">{{ articleCategory.id }}</a>
              </td>
              <td *ngIf="ua.code.listable">{{ articleCategory.code }}</td>
              <td *ngIf="ua.title.listable">{{ articleCategory.title }}</td>
              <td *ngIf="ua.label.listable">{{ articleCategory.label }}</td>
              <td *ngIf="ua.created.listable">{{ articleCategory.created | formatMediumDatetime }}</td>
              <td *ngIf="ua.release.listable">{{ articleCategory.release | formatMediumDatetime }}</td>
              <td *ngIf="ua.archived.listable">{{ articleCategory.archived | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/article-category', articleCategory.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                  </a>

                  <a
                    [routerLink]="['/article-category', articleCategory.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </a>

                  <button type="submit" (click)="delete(articleCategory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
