<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (articleCategory) {
      <div>
        <h2 data-cy="articleCategoryDetailsHeading"><span>Article Category</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ articleCategory.id }}</span>
          </dd>
          <dt><span>Code</span></dt>
          <dd>
            <span>{{ articleCategory.code }}</span>
          </dd>
          <dt><span>Title</span></dt>
          <dd>
            <span>{{ articleCategory.title }}</span>
          </dd>
          <dt><span>Label</span></dt>
          <dd>
            <span>{{ articleCategory.label }}</span>
          </dd>
          <dt><span>Created</span></dt>
          <dd>
            <span>{{ articleCategory.created | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Release</span></dt>
          <dd>
            <span>{{ articleCategory.release | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Archived</span></dt>
          <dd>
            <span>{{ articleCategory.archived | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/article-category', articleCategory.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
