<div>
  <h2 id="page-heading" data-cy="ApsDeviceHeading">
    <span>Aps Devices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-aps-device"
        [routerLink]="['/aps-device/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>New Aps Device</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (apsDevices?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Aps Devices found</span>
    </div>
  }

  @if (apsDevices && apsDevices.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id" *ngIf="ua.id.listable">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="username" *ngIf="ua.username.listable">
              <div class="d-flex">
                <span>Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deviceId" *ngIf="ua.deviceId.listable">
              <div class="d-flex">
                <span>Device Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phoneModel" *ngIf="ua.phoneModel.listable">
              <div class="d-flex">
                <span>Phone Model</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="osVersion" *ngIf="ua.osVersion.listable">
              <div class="d-flex">
                <span>Os Version</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="installedOn" *ngIf="ua.installedOn.listable">
              <div class="d-flex">
                <span>Installed On</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="apsUser.id" *ngIf="ua.apsUser.listable">
              <div class="d-flex">
                <span>Aps User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (apsDevice of apsDevices; track trackId) {
            <tr data-cy="entityTable">
              <td *ngIf="ua.id.listable">
                <a [routerLink]="['/aps-device', apsDevice.id, 'view']">{{ apsDevice.id }}</a>
              </td>
              <td *ngIf="ua.username.listable">{{ apsDevice.username }}</td>
              <td *ngIf="ua.deviceId.listable">{{ apsDevice.deviceId }}</td>
              <td *ngIf="ua.phoneModel.listable">{{ apsDevice.phoneModel }}</td>
              <td *ngIf="ua.osVersion.listable">{{ apsDevice.osVersion }}</td>
              <td *ngIf="ua.installedOn.listable">{{ apsDevice.installedOn | formatMediumDatetime }}</td>
              <td *ngIf="ua.apsUser.listable">
                @if (apsDevice.apsUser) {
                  <div>
                    <a [routerLink]="['/aps-user', apsDevice.apsUser.id, 'view']">{{ apsDevice.apsUser.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/aps-device', apsDevice.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                  </a>

                  <a [routerLink]="['/aps-device', apsDevice.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </a>

                  <button type="submit" (click)="delete(apsDevice)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (apsDevices && apsDevices.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
