<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (apsPricing) {
      <div>
        <h2 data-cy="apsPricingDetailsHeading"><span>Aps Pricing</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt *ngIf="ua.id.visible"><span>ID</span></dt>
          <dd *ngIf="ua.id.visible">
            <span>{{ apsPricing.id }}</span>
          </dd>
          <dt *ngIf="ua.country.visible"><span>Country</span></dt>
          <dd *ngIf="ua.country.visible">
            <span>{{ apsPricing.country }}</span>
          </dd>
          <dt *ngIf="ua.customerId.visible"><span>Customer Id</span></dt>
          <dd *ngIf="ua.customerId.visible">
            <span>{{ apsPricing.customerId }}</span>
          </dd>
          <dt *ngIf="ua.index.visible"><span>Index</span></dt>
          <dd *ngIf="ua.index.visible">
            <span>{{ apsPricing.index }}</span>
          </dd>
          <dt *ngIf="ua.minQuantity.visible"><span>Min Quantity</span></dt>
          <dd *ngIf="ua.minQuantity.visible">
            <span>{{ apsPricing.minQuantity }}</span>
          </dd>
          <dt *ngIf="ua.unitPrice.visible"><span>Unit Price</span></dt>
          <dd *ngIf="ua.unitPrice.visible">
            <span>{{ apsPricing.unitPrice }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/aps-pricing', apsPricing.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
