<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (apsDevice) {
      <div>
        <h2 data-cy="apsDeviceDetailsHeading"><span>Aps Device</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt *ngIf="ua.id.visible"><span>ID</span></dt>
          <dd *ngIf="ua.id.visible">
            <span>{{ apsDevice.id }}</span>
          </dd>
          <dt *ngIf="ua.username.visible"><span>Email</span></dt>
          <dd *ngIf="ua.username.visible">
            <span>{{ apsDevice.username }}</span>
          </dd>
          <dt *ngIf="ua.deviceId.visible"><span>Device Id</span></dt>
          <dd *ngIf="ua.deviceId.visible">
            <span>{{ apsDevice.deviceId }}</span>
          </dd>
          <dt *ngIf="ua.phoneModel.visible"><span>Phone Model</span></dt>
          <dd *ngIf="ua.phoneModel.visible">
            <span>{{ apsDevice.phoneModel }}</span>
          </dd>
          <dt *ngIf="ua.osVersion.visible"><span>Os Version</span></dt>
          <dd *ngIf="ua.osVersion.visible">
            <span>{{ apsDevice.osVersion }}</span>
          </dd>
          <dt *ngIf="ua.installedOn.visible"><span>Installed On</span></dt>
          <dd *ngIf="ua.installedOn.visible">
            <span>{{ apsDevice.installedOn | formatMediumDatetime }}</span>
          </dd>
          <dt *ngIf="ua.apsUser.visible"><span>Aps User</span></dt>
          <dd *ngIf="ua.apsUser.visible">
            @if (apsDevice.apsUser) {
              <div>
                <a [routerLink]="['/aps-user', apsDevice.apsUser.id, 'view']">{{ apsDevice.apsUser.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/aps-device', apsDevice.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
