<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-aps-pricing-heading" data-cy="ApsPricingCreateUpdateHeading">Aps Pricing</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3" *ngIf="ua.id.visible">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3" *ngIf="ua.customer.visible">
          @if (apsPricing?.customer) {
            <label class="form-label" >Customer</label>
            <input type="text" class="form-control-read" value="{{apsPricing?.customer?.name}}" [readonly]="true" />
          } @else {
            <customer-selector [control]="customerControl()" [required]="false" [cl]="'w-100'" id="field_customer"></customer-selector>
          }
        </div>

        <div class="mb-3" *ngIf="ua.country.visible">
          <label class="form-label" for="field_country">Country</label>
          <input type="text" class="form-control" name="country" id="field_country" data-cy="country" formControlName="country" />
          @if (editForm.get('country')!.invalid && (editForm.get('country')!.dirty || editForm.get('country')!.touched)) {
            <div>
              @if (editForm.get('country')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.index.visible">
          <label class="form-label" for="field_index">Index</label>
          <input type="number" class="form-control" name="index" id="field_index" data-cy="index" formControlName="index" />
          @if (editForm.get('index')!.invalid && (editForm.get('index')!.dirty || editForm.get('index')!.touched)) {
            <div>
              @if (editForm.get('index')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('index')?.errors?.number">This field should be a number.</small>
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.minQuantity.visible">
          <label class="form-label" for="field_minQuantity">Min Quantity</label>
          <input
            type="number"
            class="form-control"
            name="minQuantity"
            id="field_minQuantity"
            data-cy="minQuantity"
            formControlName="minQuantity"
          />
          @if (editForm.get('minQuantity')!.invalid && (editForm.get('minQuantity')!.dirty || editForm.get('minQuantity')!.touched)) {
            <div>
              @if (editForm.get('minQuantity')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('minQuantity')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.unitPrice.visible">
          <label class="form-label" for="field_unitPrice">Unit Price</label>
          <input type="number" class="form-control" name="unitPrice" id="field_unitPrice" data-cy="unitPrice" formControlName="unitPrice" />
          @if (editForm.get('unitPrice')!.invalid && (editForm.get('unitPrice')!.dirty || editForm.get('unitPrice')!.touched)) {
            <div>
              @if (editForm.get('unitPrice')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('unitPrice')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
