<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-aps-pricing-heading" data-cy="ApsPricingCreateUpdateHeading">Create or edit a Aps Pricing</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_customerId">Customer Id</label>
          <input
            type="number"
            class="form-control"
            name="customerId"
            id="field_customerId"
            data-cy="customerId"
            formControlName="customerId"
          />
          @if (editForm.get('customerId')!.invalid && (editForm.get('customerId')!.dirty || editForm.get('customerId')!.touched)) {
            <div>
              @if (editForm.get('customerId')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('customerId')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_index">Index</label>
          <input type="number" class="form-control" name="index" id="field_index" data-cy="index" formControlName="index" />
          @if (editForm.get('index')!.invalid && (editForm.get('index')!.dirty || editForm.get('index')!.touched)) {
            <div>
              @if (editForm.get('index')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('index')?.errors?.number">This field should be a number.</small>
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_minQuantity">Min Quantity</label>
          <input
            type="number"
            class="form-control"
            name="minQuantity"
            id="field_minQuantity"
            data-cy="minQuantity"
            formControlName="minQuantity"
          />
          @if (editForm.get('minQuantity')!.invalid && (editForm.get('minQuantity')!.dirty || editForm.get('minQuantity')!.touched)) {
            <div>
              @if (editForm.get('minQuantity')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('minQuantity')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_unitPrice">Unit Price</label>
          <input type="number" class="form-control" name="unitPrice" id="field_unitPrice" data-cy="unitPrice" formControlName="unitPrice" />
          @if (editForm.get('unitPrice')!.invalid && (editForm.get('unitPrice')!.dirty || editForm.get('unitPrice')!.touched)) {
            <div>
              @if (editForm.get('unitPrice')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('unitPrice')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_agency">Agency</label>
          <select
            class="form-control"
            id="field_agency"
            data-cy="agency"
            name="agency"
            formControlName="agency"
            [compareWith]="compareAgency"
          >
            <option [ngValue]="null"></option>
            @for (agencyOption of agenciesSharedCollection; track $index) {
              <option [ngValue]="agencyOption">{{ agencyOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
