<jhi-alert-error></jhi-alert-error>

<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">

<div class="d-flex justify-content-center">

  <!-- left form -->
  <div class="col-3 child-inline">

    <div class="mb-3" *ngIf="ua.plan.visible">
      @if (apsOrder?.apsPlan) {
        <label class="form-label">Aps Plan</label>
        <input type="text" class="form-control-read" value="{{apsOrder?.apsPlan?.contract}}" [readonly]="true" />
      } @else {
        <aps-plan-select [control]="apsPlanControl()" [required]="false" [cl]="'w-100'" id="field_customer"></aps-plan-select>
      }
    </div>

    <div class="mb-3" *ngIf="ua.period.visible">
      <label class="form-label" for="field_period">Period</label>
      <input type="number" class="form-control" name="period" id="field_period" data-cy="period" formControlName="period" />
      @if (editForm.get('period')!.invalid && (editForm.get('period')!.dirty || editForm.get('period')!.touched)) {
        <div>
          @if (editForm.get('period')?.errors?.required) {
            <small class="form-text text-danger">This field is required.</small>
          }
          <small class="form-text text-danger" [hidden]="!editForm.get('period')?.errors?.number">This field should be a number.</small>
        </div>
      }
    </div>

    <div class="mb-3" *ngIf="ua.license.visible">
      <label class="form-label" for="field_license">License</label>
      <input type="text" class="form-control" name="license" id="field_license" data-cy="license" formControlName="license" />
      @if (editForm.get('license')!.invalid && (editForm.get('license')!.dirty || editForm.get('license')!.touched)) {
        <div>
          @if (editForm.get('license')?.errors?.required) {
            <small class="form-text text-danger">This field is required.</small>
          }
        </div>
      }
    </div>

    <div class="mb-3" *ngIf="ua.invoiceNumber.visible">
      <label class="form-label" for="field_invoiceNumber">Invoice Number</label>
      <input
        type="text"
        class="form-control"
        name="invoiceNumber"
        id="field_invoiceNumber"
        data-cy="invoiceNumber"
        formControlName="invoiceNumber"
        [readonly]="true"
      />
    </div>

  </div>

  <!-- right form -->
  <div class="col-3 child-inline">

    <div class="mb-3" *ngIf="ua.numberOfUsers.visible">

      <label class="form-label" for="field_numberOfUsers">Number Of Users</label>
      <input
        type="number"
        class="form-control"
        name="numberOfUsers"
        id="field_numberOfUsers"
        data-cy="numberOfUsers"
        formControlName="numberOfUsers"
      />
      @if (editForm.get('numberOfUsers')!.invalid && (editForm.get('numberOfUsers')!.dirty || editForm.get('numberOfUsers')!.touched)) {
        <div>
          @if (editForm.get('numberOfUsers')?.errors?.required) {
            <small class="form-text text-danger">This field is required.</small>
          }
          <small class="form-text text-danger" [hidden]="!editForm.get('numberOfUsers')?.errors?.number"
          >This field should be a number.</small
          >
        </div>
      }
    </div>

    <div class="mb-3" *ngIf="ua.unitPrice.visible">
      <label class="form-label" for="field_unitPrice">Unit Price</label>
      <input type="number" class="form-control" name="unitPrice" id="field_unitPrice" data-cy="unitPrice" formControlName="unitPrice" />
      @if (editForm.get('unitPrice')!.invalid && (editForm.get('unitPrice')!.dirty || editForm.get('unitPrice')!.touched)) {
        <div>
          @if (editForm.get('unitPrice')?.errors?.required) {
            <small class="form-text text-danger">This field is required.</small>
          }
          <small class="form-text text-danger" [hidden]="!editForm.get('unitPrice')?.errors?.number"
          >This field should be a number.</small
          >
        </div>
      }
    </div>

    <div class="mb-3" *ngIf="ua.vatRate.visible">
      <label class="form-label" for="field_vatRate">Vat Rate</label>
      <input type="number" class="form-control" name="vatRate" id="field_vatRate" data-cy="vatRate" formControlName="vatRate" />
      @if (editForm.get('vatRate')!.invalid && (editForm.get('vatRate')!.dirty || editForm.get('vatRate')!.touched)) {
        <div>
          @if (editForm.get('vatRate')?.errors?.required) {
            <small class="form-text text-danger">This field is required.</small>
          }
          <small class="form-text text-danger" [hidden]="!editForm.get('vatRate')?.errors?.number"
          >This field should be a number.</small
          >
        </div>
      }
    </div>

  </div>

  <!-- 3rd panel -->
  <div class="col-2 child-inline">

    <div class="mb-3" *ngIf="ua.id.visible">
      <label class="form-label" for="field_id">Aps Order ID</label>
      <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
    </div>

    <div>
      <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
      </button>

      <button
        type="submit"
        id="save-entity"
        data-cy="entityCreateSaveButton"
        [disabled]="editForm.invalid || isSaving"
        class="btn btn-primary"
      >
        <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
      </button>
    </div>

  </div>

</div>

</form>
