<div>
  <h2 id="page-heading" data-cy="ContactHeading">
    <span>Contacts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contact"
        [routerLink]="['/contact/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>New Contact</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (contacts?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Contacts found</span>
    </div>
  }

  @if (contacts && contacts.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id" *ngIf="ua.id.listable">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type" *ngIf="ua.type.listable">
              <div class="d-flex">
                <span>Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name" *ngIf="ua.name.listable">
              <div class="d-flex">
                <span>Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="line1" *ngIf="ua.line1.listable">
              <div class="d-flex">
                <span>Line 1</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="line2" *ngIf="ua.line2.listable">
              <div class="d-flex">
                <span>Line 2</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="zip" *ngIf="ua.zip.listable">
              <div class="d-flex">
                <span>Zip</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="city" *ngIf="ua.city.listable">
              <div class="d-flex">
                <span>City</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="country" *ngIf="ua.country.listable">
              <div class="d-flex">
                <span>Country</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email" *ngIf="ua.email.listable">
              <div class="d-flex">
                <span>Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phone" *ngIf="ua.phone.listable">
              <div class="d-flex">
                <span>Phone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="notes" *ngIf="ua.notes.listable">
              <div class="d-flex">
                <span>Notes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="created" *ngIf="ua.created.listable">
              <div class="d-flex">
                <span>Created</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updated" *ngIf="ua.updated.listable">
              <div class="d-flex">
                <span>Updated</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customer.id" *ngIf="ua.customer.listable">
              <div class="d-flex">
                <span>Customer</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (contact of contacts; track trackId) {
            <tr data-cy="entityTable">
              <td *ngIf="ua.id.listable">
                <a [routerLink]="['/contact', contact.id, 'view']">{{ contact.id }}</a>
              </td>
              <td *ngIf="ua.type.listable">{{ contact.type }}</td>
              <td *ngIf="ua.name.listable">{{ contact.name }}</td>
              <td *ngIf="ua.line1.listable">{{ contact.line1 }}</td>
              <td *ngIf="ua.line2.listable">{{ contact.line2 }}</td>
              <td *ngIf="ua.zip.listable">{{ contact.zip }}</td>
              <td *ngIf="ua.city.listable">{{ contact.city }}</td>
              <td *ngIf="ua.country.listable">{{ contact.country }}</td>
              <td *ngIf="ua.email.listable">{{ contact.email }}</td>
              <td *ngIf="ua.phone.listable">{{ contact.phone }}</td>
              <td *ngIf="ua.notes.listable">{{ contact.notes }}</td>
              <td *ngIf="ua.created.listable">{{ contact.created | formatMediumDatetime }}</td>
              <td *ngIf="ua.updated.listable">{{ contact.updated | formatMediumDatetime }}</td>
              <td *ngIf="ua.customer.listable">
                @if (contact.customer) {
                  <div>
                    <a [routerLink]="['/customer', contact.customer.id, 'view']">{{ contact.customer.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/contact', contact.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                  </a>

                  <a [routerLink]="['/contact', contact.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </a>

                  <button type="submit" (click)="delete(contact)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
