<div>
  <h2 id="page-heading" data-cy="ApsPricingHeading">
    <span>Aps Pricings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-aps-pricing"
        [routerLink]="['/aps-pricing/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Aps Pricing</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (apsPricings?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Aps Pricings found</span>
    </div>
  }

  @if (apsPricings && apsPricings.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customerId">
              <div class="d-flex">
                <span>Customer Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="index">
              <div class="d-flex">
                <span>Index</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="minQuantity">
              <div class="d-flex">
                <span>Min Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="unitPrice">
              <div class="d-flex">
                <span>Unit Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="agency.id">
              <div class="d-flex">
                <span>Agency</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (apsPricing of apsPricings; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/aps-pricing', apsPricing.id, 'view']">{{ apsPricing.id }}</a>
              </td>
              <td>{{ apsPricing.customerId }}</td>
              <td>{{ apsPricing.index }}</td>
              <td>{{ apsPricing.minQuantity }}</td>
              <td>{{ apsPricing.unitPrice }}</td>
              <td>
                @if (apsPricing.agency) {
                  <div>
                    <a [routerLink]="['/agency', apsPricing.agency.id, 'view']">{{ apsPricing.agency.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/aps-pricing', apsPricing.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/aps-pricing', apsPricing.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(apsPricing)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (apsPricings && apsPricings.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
