<div>
  <h2 id="page-heading" data-cy="CustomerHeading">
    <span>Customers</span>
  </h2>

  <div class="d-flex justify-content-end">

    <input id="customer_license" matInput placeholder="license" [(ngModel)]="license" class="form-text me-2"/>

    <select id="customer_state" [(ngModel)]="state" class="form-text me-2">
      <option [ngValue]="null" style="color: #999">state</option>
      @for (customerState of customerStateValues; track $index) {
        <option [value]="customerState">{{ customerState }}</option>
      }
    </select>
    <input id="customer_name" matInput placeholder="name" [(ngModel)]="name" class="form-text me-2"/>

    <input id="customer_code" matInput placeholder="code" [(ngModel)]="code" class="form-text me-2"/>

    <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
    </button>

    <button class="btn btn-info me-2" (click)="resetSearchForm()" [disabled]="isLoading">
      <fa-icon icon="times"></fa-icon>
    </button>

    <button class="btn btn-info me-2" (click)="previousState()" type="submit">
      <fa-icon icon="arrow-left"></fa-icon> <span> </span>
    </button>

    <button
      id="jh-create-entity"
      data-cy="entityCreateButton"
      class="btn btn-primary jh-create-entity create-customer"
      [routerLink]="['/customer/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span>New Customer</span>
    </button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (customers?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Customers found</span>
    </div>
  }

  @if (customers && customers.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id" *ngIf="ua.id.listable">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="created" *ngIf="ua.created.listable">
              <div class="d-flex">
                <span>Created</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updated" *ngIf="ua.updated.listable">
              <div class="d-flex">
                <span>Updated</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="trialed" *ngIf="ua.trialed.listable">
              <div class="d-flex">
                <span>Trialed</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="declined" *ngIf="ua.declined.listable">
              <div class="d-flex">
                <span>Declined</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="activated" *ngIf="ua.activated.listable">
              <div class="d-flex">
                <span>Activated</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="closed" *ngIf="ua.closed.listable">
              <div class="d-flex">
                <span>Closed</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="closeReason" *ngIf="ua.closeReason.listable">
              <div class="d-flex">
                <span>Close Reason</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="billingEmail" *ngIf="ua.billingEmail.listable">
              <div class="d-flex">
                <span>Billing Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="logo" *ngIf="ua.logo.listable">
              <div class="d-flex">
                <span>Logo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="notes" *ngIf="ua.notes.listable">
              <div class="d-flex">
                <span>Notes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="country" *ngIf="ua.country.listable">
              <div class="d-flex">
                <span>Country</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vatId" *ngIf="ua.vatId.listable">
              <div class="d-flex">
                <span>Vat Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vatRate"  *ngIf="ua.vatRate.listable">
              <div class="d-flex">
                <span>Vat Rate</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bank" *ngIf="ua.bank.listable">
              <div class="d-flex">
                <span>Bank</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="iban" *ngIf="ua.iban.listable">
              <div class="d-flex">
                <span>Iban</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="license" *ngIf="ua.license.listable">
              <div class="d-flex">
                <span>License</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="state" *ngIf="ua.state.listable">
              <div class="d-flex">
                <span>State</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name" *ngIf="ua.name.listable">
              <div class="d-flex">
                <span>Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="code" *ngIf="ua.code.listable">
              <div class="d-flex">
                <span>Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (customer of customers; track trackId) {
            <tr data-cy="entityTable">
              <td *ngIf="ua.id.listable">
                <a [routerLink]="['/customer', customer.id, 'view']">{{ customer.id }}</a>
              </td>

              <td *ngIf="ua.created.listable">{{ customer.created | formatMediumDate }}</td>
              <td *ngIf="ua.updated.listable">{{ customer.updated | formatMediumDatetime }}</td>
              <td *ngIf="ua.trialed.listable">{{ customer.trialed | formatMediumDate }}</td>
              <td *ngIf="ua.declined.listable">{{ customer.declined | formatMediumDate }}</td>
              <td *ngIf="ua.activated.listable">{{ customer.activated | formatMediumDate }}</td>
              <td *ngIf="ua.closed.listable">{{ customer.closed | formatMediumDate }}</td>

              <td *ngIf="ua.closeReason.listable">{{ customer.closeReason }}</td>
              <td *ngIf="ua.billingEmail.listable">{{ customer.billingEmail }}</td>
              <td *ngIf="ua.logo.listable">{{ customer.logo }}</td>
              <td *ngIf="ua.notes.listable">{{ customer.notes }}</td>

              <td *ngIf="ua.country.listable">{{ customer.country }}</td>
              <td *ngIf="ua.vatId.listable">{{ customer.vatId }}</td>
              <td *ngIf="ua.vatRate.listable">{{ customer.vatRate }}</td>
              <td *ngIf="ua.bank.listable">{{ customer.bank }}</td>
              <td *ngIf="ua.iban.listable">{{ customer.iban }}</td>
              <td *ngIf="ua.license.listable" id="{{customer.license}}" (click)="copy(customer.license)"><span>{{ customer.license }}</span></td>
              <td *ngIf="ua.state.listable">{{ customer.state }}</td>
              <td *ngIf="ua.name.listable">{{ customer.name }}</td>
              <td *ngIf="ua.code.listable" id="{{customer.code}}" (click)="copy(customer.code)"><span>{{ customer.code }}</span></td>

              <td class="text-end">
                <div class="btn-group">

                  <a class="btn btn-info btn-sm" data-cy="entityApsPlansButton" (click)="navToApsPlans(customer)" title="plans">
                    plan
                  </a>

                  <a class="btn btn-info btn-sm" data-cy="entityApsPlansButton" (click)="navToApsOrders(customer)" title="orders">
                    order
                  </a>

                  <a class="btn btn-info btn-sm" data-cy="entityContactsButton" (click)="navToContacts(customer)" title="contacts">
                    contact
                  </a>

                  <a [routerLink]="['/customer', customer.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                  </a>

                  <a [routerLink]="['/customer', customer.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </a>

                  <button type="submit" (click)="delete(customer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (customers && customers.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
