<div>
  <h2 id="page-heading" data-cy="AgencyHeading">
    <span>Agencies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-agency"
        [routerLink]="['/agency/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>New Agency</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (agencies?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Agencies found</span>
    </div>
  }

  @if (agencies && agencies.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id" *ngIf="ua.id.listable">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="code" *ngIf="ua.code.listable">
              <div class="d-flex">
                <span>Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name" *ngIf="ua.name.listable">
              <div class="d-flex">
                <span>Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="line1" *ngIf="ua.line1.listable">
              <div class="d-flex">
                <span>Line 1</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="line2" *ngIf="ua.line2.listable">
              <div class="d-flex">
                <span>Line 2</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="zip"  *ngIf="ua.zip.listable">
              <div class="d-flex">
                <span>Zip</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="city"  *ngIf="ua.city.listable">
              <div class="d-flex">
                <span>City</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="country"  *ngIf="ua.country.listable">
              <div class="d-flex">
                <span>Country</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="language"  *ngIf="ua.language.listable">
              <div class="d-flex">
                <span>Language</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email"  *ngIf="ua.email.listable">
              <div class="d-flex">
                <span>Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phone"  *ngIf="ua.phone.listable">
              <div class="d-flex">
                <span>Phone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="billingEmail"  *ngIf="ua.billingEmail.listable">
              <div class="d-flex">
                <span>Billing Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="billingPhone"  *ngIf="ua.billingPhone.listable">
              <div class="d-flex">
                <span>Billing Phone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bank"  *ngIf="ua.bank.listable">
              <div class="d-flex">
                <span>Bank</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="iban"  *ngIf="ua.iban.listable">
              <div class="d-flex">
                <span>Iban</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rcs"  *ngIf="ua.rcs.listable">
              <div class="d-flex">
                <span>Rcs</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vatId"  *ngIf="ua.vatId.listable">
              <div class="d-flex">
                <span>Vat Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vatRate"  *ngIf="ua.vatRate.listable">
              <div class="d-flex">
                <span>Vat Rate</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="notes"  *ngIf="ua.notes.listable">
              <div class="d-flex">
                <span>Notes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="created"  *ngIf="ua.created.listable">
              <div class="d-flex">
                <span>Created</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updated"  *ngIf="ua.updated.listable">
              <div class="d-flex">
                <span>Updated</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (agency of agencies; track trackId) {
            <tr data-cy="entityTable">
              <td *ngIf="ua.id.listable">
                <a [routerLink]="['/agency', agency.id, 'view']">{{ agency.id }}</a>
              </td>
              <td *ngIf="ua.code.listable">{{ agency.code }}</td>
              <td *ngIf="ua.name.listable">{{ agency.name }}</td>
              <td *ngIf="ua.line1.listable">{{ agency.line1 }}</td>
              <td *ngIf="ua.line2.listable">{{ agency.line2 }}</td>
              <td *ngIf="ua.zip.listable">{{ agency.zip }}</td>
              <td *ngIf="ua.city.listable">{{ agency.city }}</td>
              <td *ngIf="ua.country.listable">{{ agency.country }}</td>
              <td *ngIf="ua.language.listable">{{ agency.language }}</td>
              <td *ngIf="ua.email.listable">{{ agency.email }}</td>
              <td *ngIf="ua.phone.listable">{{ agency.phone }}</td>
              <td *ngIf="ua.billingEmail.listable">{{ agency.billingEmail }}</td>
              <td *ngIf="ua.billingPhone.listable">{{ agency.billingPhone }}</td>
              <td *ngIf="ua.bank.listable">{{ agency.bank }}</td>
              <td *ngIf="ua.iban.listable">{{ agency.iban }}</td>
              <td *ngIf="ua.rcs.listable">{{ agency.rcs }}</td>
              <td *ngIf="ua.vatId.listable">{{ agency.vatId }}</td>
              <td *ngIf="ua.vatRate.listable">{{ agency.vatRate }}</td>
              <td *ngIf="ua.notes.listable">{{ agency.notes }}</td>
              <td *ngIf="ua.created.listable">{{ agency.created | formatMediumDate }}</td>
              <td *ngIf="ua.updated.listable">{{ agency.updated | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/agency', agency.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                  </a>

                  <a [routerLink]="['/agency', agency.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </a>

                  <button type="submit" (click)="delete(agency)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
