<div>
  <h2 id="page-heading" data-cy="AgencyHeading">
    <span>Agencies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-agency"
        [routerLink]="['/agency/new']"
      >

        <fa-icon icon="plus"></fa-icon>
        <span>New Agency</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (agencies?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Agencies found</span>
    </div>
  }

  @if (agencies && agencies.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="country">
              <div class="d-flex">
                <span>CT</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span>Code</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span>Name</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex">
                <span>Address</span>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex">
                <span>Email</span>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex">
                <span>Phone</span>
              </div>
            </th>
            <th scope="col" jhiSortBy="updated">
              <div class="d-flex">
                <span>Updated</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (agency of agencies; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/agency', agency.id, 'view']">{{ agency.id }}</a>
              </td>
              <td>{{ agency.country }}</td>
              <td>{{ agency.code }}</td>
              <td>{{ agency.name }}</td>
              <td>{{ agency.line1 }} {{ agency.line2 }} {{ agency.zip }} {{ agency.city }}</td>
              <td>{{ agency.email }}</td>
              <td>{{ agency.phone }}</td>
              <td>{{ agency.updated | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/agency', agency.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                  </a>

                  <a [routerLink]="['/agency', agency.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </a>

                  <button type="submit" (click)="delete(agency)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
