<div>
  <h2 id="page-heading" data-cy="ApsOrderHeading">
    <span>Aps Orders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="batch()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Generate</span>
      </button>

      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-aps-order"
        [routerLink]="['/aps-order/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Aps Order</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (apsOrders?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Aps Orders found</span>
    </div>
  }

  @if (apsOrders && apsOrders.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="period">
              <div class="d-flex">
                <span>Period</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="license">
              <div class="d-flex">
                <span>License</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="unitPrice">
              <div class="d-flex">
                <span>Unit Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vatRate">
              <div class="d-flex">
                <span>Vat Rate</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="numberOfUsers">
              <div class="d-flex">
                <span>Number Of Users</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="invoiceNumber">
              <div class="d-flex">
                <span>Invoice Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="apsPlan.id">
              <div class="d-flex">
                <span>Aps Plan</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (apsOrder of apsOrders; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/aps-order', apsOrder.id, 'view']">{{ apsOrder.id }}</a>
              </td>
              <td>{{ apsOrder.period }}</td>
              <td>{{ apsOrder.license }}</td>
              <td>{{ apsOrder.unitPrice }}</td>
              <td>{{ apsOrder.vatRate }}</td>
              <td>{{ apsOrder.numberOfUsers }}</td>
              <td>{{ apsOrder.invoiceNumber }}</td>
              <td>
                @if (apsOrder.apsPlan) {
                  <div>
                    <a [routerLink]="['/aps-plan', apsOrder.apsPlan.id, 'view']">{{ apsOrder.apsPlan.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/aps-order', apsOrder.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/aps-order', apsOrder.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(apsOrder)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
