<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (apsUser) {
      <div>
        <h2 data-cy="apsUserDetailsHeading"><span>Aps User</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt *ngIf="ua.id.visible"><span>ID</span></dt>
          <dd *ngIf="ua.id.visible">
            <span>{{ apsUser.id }}</span>
          </dd>
          <dt *ngIf="ua.name.visible"><span>Name</span></dt>
          <dd *ngIf="ua.name.visible">
            <span>{{ apsUser.name }}</span>
          </dd>
          <dt *ngIf="ua.username.visible"><span>Username</span></dt>
          <dd *ngIf="ua.username.visible">
            <span>{{ apsUser.username }}</span>
          </dd>
          <dt *ngIf="ua.usernameVerified.visible"><span>Username Verified</span></dt>
          <dd *ngIf="ua.usernameVerified.visible">
            <span>{{ apsUser.usernameVerified }}</span>
          </dd>
          <dt *ngIf="ua.privateEmail.visible"><span>Private Email</span></dt>
          <dd *ngIf="ua.privateEmail.visible">
            <span>{{ apsUser.privateEmail }}</span>
          </dd>
          <dt *ngIf="ua.privateVerified.visible"><span>Private Verified</span></dt>
          <dd *ngIf="ua.privateVerified.visible">
            <span>{{ apsUser.privateVerified }}</span>
          </dd>
          <dt *ngIf="ua.language.visible"><span>Language</span></dt>
          <dd *ngIf="ua.language.visible">
            <span>{{ apsUser.language }}</span>
          </dd>
          <dt *ngIf="ua.license.visible"><span>License</span></dt>
          <dd *ngIf="ua.license.visible">
            <span>{{ apsUser.license }}</span>
          </dd>
          <dt *ngIf="ua.active.visible"><span>Active</span></dt>
          <dd *ngIf="ua.active.visible">
            <span>{{ apsUser.active }}</span>
          </dd>
          <dt *ngIf="ua.password.visible"><span>Password</span></dt>
          <dd *ngIf="ua.password.visible">
            <span>{{ apsUser.password }}</span>
          </dd>
          <dt *ngIf="ua.created.visible"><span>Created</span></dt>
          <dd *ngIf="ua.created.visible">
            <span>{{ apsUser.created | formatMediumDatetime }}</span>
          </dd>
          <dt *ngIf="ua.updated.visible"><span>Updated</span></dt>
          <dd *ngIf="ua.updated.visible">
            <span>{{ apsUser.updated | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/aps-user', apsUser.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
