<div>
  <h2 id="page-heading" data-cy="LabelTranslationHeading">
    <span>Label Translations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-label-translation"
        [routerLink]="['/label-translation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>New Label Translation</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (labelTranslations?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Label Translations found</span>
    </div>
  }

  @if (labelTranslations && labelTranslations.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id" *ngIf="ua.id.listable">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="label" *ngIf="ua.label.listable">
              <div class="d-flex">
                <span>Label</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lang" *ngIf="ua.lang.listable">
              <div class="d-flex">
                <span>Lang</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="translation" *ngIf="ua.translation.listable">
              <div class="d-flex">
                <span>Translation</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (labelTranslation of labelTranslations; track trackId) {
            <tr data-cy="entityTable">
              <td *ngIf="ua.id.listable">
                <a [routerLink]="['/label-translation', labelTranslation.id, 'view']">{{ labelTranslation.id }}</a>
              </td>
              <td *ngIf="ua.label.listable">{{ labelTranslation.label }}</td>
              <td *ngIf="ua.lang.listable">{{ labelTranslation.lang }}</td>
              <td *ngIf="ua.translation.listable">{{ labelTranslation.translation }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/label-translation', labelTranslation.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                  </a>

                  <a
                    [routerLink]="['/label-translation', labelTranslation.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </a>

                  <button type="submit" (click)="delete(labelTranslation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (labelTranslations && labelTranslations.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
