<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-customer-heading" data-cy="CustomerCreateUpdateHeading">Customer</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3" *ngIf="ua.agency.visible">
          @if (customer?.agency) {
            <label class="form-label">Agency</label>
            <input type="text" class="form-control-read" value="{{customer?.agency?.name}}" [readonly]="true" />
          } @else {
            <agency-select [control]="agencyControl()" [required]="false" id="field_agency"></agency-select>
          }
        </div>

        <div class="mb-3" *ngIf="ua.code.visible">
          <label class="form-label" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          @if (editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)) {
            <div>
              @if (editForm.get('code')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.name.visible">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.country.visible">
          <label class="form-label" for="field_country">Country</label>
          <input type="text" class="form-control" name="country" id="field_country" data-cy="country" formControlName="country" />
          @if (editForm.get('country')!.invalid && (editForm.get('country')!.dirty || editForm.get('country')!.touched)) {
            <div>
              @if (editForm.get('country')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.license.visible">
          <label class="form-label" for="field_license">License</label>
          <input
            type="text"
            class="form-control"
            name="license"
            id="field_license"
            data-cy="license"
            formControlName="license"
          />
        </div>

        <div class="mb-3" *ngIf="ua.state.visible">
          <label class="form-label" for="field_state">State</label>
          <select class="form-control" name="state" formControlName="state" id="field_state" data-cy="state">
            <option [ngValue]="null"></option>
            @for (customerState of customerStateValues; track $index) {
              <option [value]="customerState">{{ customerState }}</option>
            }
          </select>
          @if (editForm.get('state')!.invalid && (editForm.get('state')!.dirty || editForm.get('state')!.touched)) {
            <div>
              @if (editForm.get('state')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.closeReason.visible">
          <label class="form-label" for="field_closeReason">Close Reason</label>
          <input
            type="text"
            class="form-control"
            name="closeReason"
            id="field_closeReason"
            data-cy="closeReason"
            formControlName="closeReason"
          />
        </div>

        <div class="mb-3" *ngIf="ua.emailDomains.visible">
          <label class="form-label" for="field_emailDomains">Email Domains</label>
          <input
            type="text"
            class="form-control"
            name="emailDomains"
            id="field_emailDomains"
            data-cy="emailDomains"
            formControlName="emailDomains"
          />
        </div>

        <div class="mb-3" *ngIf="ua.vatId.visible">
          <label class="form-label" for="field_vatId">Vat Id</label>
          <input type="text" class="form-control" name="vatId" id="field_vatId" data-cy="vatId" formControlName="vatId" />
        </div>

        <div class="mb-3" *ngIf="ua.bank.visible">
          <label class="form-label" for="field_bank">Bank</label>
          <input type="text" class="form-control" name="bank" id="field_bank" data-cy="bank" formControlName="bank" />
        </div>

        <div class="mb-3" *ngIf="ua.iban.visible">
          <label class="form-label" for="field_iban">Iban</label>
          <input type="text" class="form-control" name="iban" id="field_iban" data-cy="iban" formControlName="iban" />
        </div>

        <div class="mb-3" *ngIf="ua.logo.visible">
          <label class="form-label" for="field_logo">Logo</label>
          <input type="text" class="form-control" name="logo" id="field_logo" data-cy="logo" formControlName="logo" />
        </div>

        <div class="mb-3" *ngIf="ua.notes.visible">
          <label class="form-label" for="field_notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
        </div>

        <div class="mb-3" *ngIf="ua.created.visible">
          <label class="form-label" for="field_created">Created</label>
          <div class="d-flex">
            <input
              id="field_created"
              data-cy="created"
              type="datetime-local"
              class="form-control"
              name="created"
              formControlName="created"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3" *ngIf="ua.updated.visible">
          <label class="form-label" for="field_updated">Updated</label>
          <div class="d-flex">
            <input
              id="field_updated"
              data-cy="updated"
              type="datetime-local"
              class="form-control"
              name="updated"
              formControlName="updated"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3" *ngIf="ua.trialed.visible">
          <label class="form-label" for="field_trialed">Trialed</label>
          <div class="d-flex">
            <input
              id="field_trialed"
              data-cy="trialed"
              type="datetime-local"
              class="form-control"
              name="trialed"
              formControlName="trialed"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3" *ngIf="ua.declined.visible">
          <label class="form-label" for="field_declined">Declined</label>
          <div class="d-flex">
            <input
              id="field_declined"
              data-cy="declined"
              type="datetime-local"
              class="form-control"
              name="declined"
              formControlName="declined"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3" *ngIf="ua.activated.visible">
          <label class="form-label" for="field_activated">Activated</label>
          <div class="d-flex">
            <input
              id="field_activated"
              data-cy="activated"
              type="datetime-local"
              class="form-control"
              name="activated"
              formControlName="activated"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3" *ngIf="ua.closed.visible">
          <label class="form-label" for="field_closed">Closed</label>
          <div class="d-flex">
            <input
              id="field_closed"
              data-cy="closed"
              type="datetime-local"
              class="form-control"
              name="closed"
              formControlName="closed"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
