<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (videoItem) {
      <div>
        <h2 data-cy="videoItemDetailsHeading"><span>Video Item</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt *ngIf="ua.id.visible"><span>ID</span></dt>
          <dd *ngIf="ua.id.visible">
            <span>{{ videoItem.id }}</span>
          </dd>
          <dt *ngIf="ua.code.visible"><span>Code</span></dt>
          <dd *ngIf="ua.code.visible">
            <span>{{ videoItem.code }}</span>
          </dd>
          <dt *ngIf="ua.previous.visible"><span>Previous</span></dt>
          <dd *ngIf="ua.previous.visible">
            <span>{{ videoItem.previous }}</span>
          </dd>
          <dt *ngIf="ua.next.visible"><span>Next</span></dt>
          <dd *ngIf="ua.next.visible">
            <span>{{ videoItem.next }}</span>
          </dd>
          <dt *ngIf="ua.playList.visible"><span>Play List</span></dt>
          <dd *ngIf="ua.playList.visible">
            @if (videoItem.playList) {
              <div>
                <a [routerLink]="['/play-list', videoItem.playList.id, 'view']">{{ videoItem.playList.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/video-item', videoItem.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
