<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (article) {
      <div>
        <h2 data-cy="articleDetailsHeading"><span>Article</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt *ngIf="ua.id.visible"><span>ID</span></dt>
          <dd *ngIf="ua.id.visible">
            <span>{{ article.id }}</span>
          </dd>
          <dt *ngIf="ua.code.visible"><span>Code</span></dt>
          <dd *ngIf="ua.code.visible">
            <span>{{ article.code }}</span>
          </dd>
          <dt *ngIf="ua.title.visible"><span>Title</span></dt>
          <dd *ngIf="ua.title.visible">
            <span>{{ article.title }}</span>
          </dd>
          <dt *ngIf="ua.subtitle.visible"><span>Subtitle</span></dt>
          <dd *ngIf="ua.subtitle.visible">
            <span>{{ article.subtitle }}</span>
          </dd>
          <dt *ngIf="ua.summary.visible"><span>Summary</span></dt>
          <dd *ngIf="ua.summary.visible">
            <span>{{ article.summary }}</span>
          </dd>
          <dt *ngIf="ua.language.visible"><span>Language</span></dt>
          <dd *ngIf="ua.language.visible">
            <span>{{ article.language }}</span>
          </dd>
          <dt *ngIf="ua.tags.visible"><span>Tags</span></dt>
          <dd *ngIf="ua.tags.visible">
            <span>{{ article.tags }}</span>
          </dd>
          <dt *ngIf="ua.duration.visible"><span>Duration</span></dt>
          <dd *ngIf="ua.duration.visible">
            <span>{{ article.duration }}</span>
          </dd>
          <dt *ngIf="ua.thumbnail.visible"><span>Thumbnail</span></dt>
          <dd *ngIf="ua.thumbnail.visible">
            <span>{{ article.thumbnail }}</span>
          </dd>
          <dt *ngIf="ua.audioUrl.visible"><span>Audio Url</span></dt>
          <dd *ngIf="ua.audioUrl.visible">
            <span>{{ article.audioUrl }}</span>
          </dd>
          <dt *ngIf="ua.content.visible"><span>Content</span></dt>
          <dd *ngIf="ua.content.visible">
            <span>{{ article.content }}</span>
          </dd>
          <dt *ngIf="ua.seriesId.visible"><span>Series Id</span></dt>
          <dd *ngIf="ua.seriesId.visible">
            <span>{{ article.seriesId }}</span>
          </dd>
          <dt *ngIf="ua.chapter.visible"><span>Chapter</span></dt>
          <dd *ngIf="ua.chapter.visible">
            <span>{{ article.chapter }}</span>
          </dd>
          <dt *ngIf="ua.created.visible"><span>Created</span></dt>
          <dd *ngIf="ua.created.visible">
            <span>{{ article.created | formatMediumDatetime }}</span>
          </dd>
          <dt *ngIf="ua.updated.visible"><span>Updated</span></dt>
          <dd *ngIf="ua.updated.visible">
            <span>{{ article.updated | formatMediumDatetime }}</span>
          </dd>
          <dt *ngIf="ua.released.visible"><span>Released</span></dt>
          <dd *ngIf="ua.released.visible">
            <span>{{ article.released | formatMediumDatetime }}</span>
          </dd>
          <dt *ngIf="ua.archived.visible"><span>Archived</span></dt>
          <dd *ngIf="ua.archived.visible">
            <span>{{ article.archived | formatMediumDatetime }}</span>
          </dd>
          <dt *ngIf="ua.articleCategory.visible"><span>Article Category</span></dt>
          <dd *ngIf="ua.articleCategory.visible">
            @if (article.articleCategory) {
              <div>
                <a [routerLink]="['/article-category', article.articleCategory.id, 'view']">{{ article.articleCategory.id }}</a>
              </div>
            }
          </dd>
          <dt *ngIf="ua.coach.visible"><span>Coach</span></dt>
          <dd *ngIf="ua.coach.visible">
            @if (article.coach) {
              <div>
                <a [routerLink]="['/coach', article.coach.id, 'view']">{{ article.coach.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/article', article.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
