<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-article-heading" data-cy="ArticleCreateUpdateHeading">Article</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3" *ngIf="ua.id.visible">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3" *ngIf="ua.code.visible">
          <label class="form-label" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          @if (editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)) {
            <div>
              @if (editForm.get('code')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.title.visible">
          <label class="form-label" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          @if (editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)) {
            <div>
              @if (editForm.get('title')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.subtitle.visible">
          <label class="form-label" for="field_subtitle">Subtitle</label>
          <input type="text" class="form-control" name="subtitle" id="field_subtitle" data-cy="subtitle" formControlName="subtitle" />
        </div>

        <div class="mb-3" *ngIf="ua.summary.visible">
          <label class="form-label" for="field_summary">Summary</label>
          <input type="text" class="form-control" name="summary" id="field_summary" data-cy="summary" formControlName="summary" />
        </div>

        <div class="mb-3" *ngIf="ua.language.visible">
          <label class="form-label" for="field_language">Language</label>
          <select class="form-control" name="language" formControlName="language" id="field_language" data-cy="language">
            <option [ngValue]="null"></option>
            @for (language of languageValues; track $index) {
              <option [value]="language">{{ language }}</option>
            }
          </select>
          @if (editForm.get('language')!.invalid && (editForm.get('language')!.dirty || editForm.get('language')!.touched)) {
            <div>
              @if (editForm.get('language')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.tags.visible">
          <label class="form-label" for="field_tags">Tags</label>
          <input type="text" class="form-control" name="tags" id="field_tags" data-cy="tags" formControlName="tags" />
        </div>

        <div class="mb-3" *ngIf="ua.duration.visible">
          <label class="form-label" for="field_duration">Duration</label>
          <input type="number" class="form-control" name="duration" id="field_duration" data-cy="duration" formControlName="duration" />
        </div>

        <div class="mb-3" *ngIf="ua.thumbnail.visible">
          <label class="form-label" for="field_thumbnail">Thumbnail</label>
          <input type="text" class="form-control" name="thumbnail" id="field_thumbnail" data-cy="thumbnail" formControlName="thumbnail" />
        </div>

        <div class="mb-3" *ngIf="ua.audioUrl.visible">
          <label class="form-label" for="field_audioUrl">Audio Url</label>
          <input type="text" class="form-control" name="audioUrl" id="field_audioUrl" data-cy="audioUrl" formControlName="audioUrl" />
        </div>

        <div class="mb-3" *ngIf="ua.content.visible">
          <label class="form-label" for="field_content">Content</label>
          <input type="text" class="form-control" name="content" id="field_content" data-cy="content" formControlName="content" />
        </div>

        <div class="mb-3" *ngIf="ua.seriesId.visible">
          <label class="form-label" for="field_seriesId">Series Id</label>
          <input type="number" class="form-control" name="seriesId" id="field_seriesId" data-cy="seriesId" formControlName="seriesId" />
        </div>

        <div class="mb-3" *ngIf="ua.chapter.visible">
          <label class="form-label" for="field_chapter">Chapter</label>
          <input type="number" class="form-control" name="chapter" id="field_chapter" data-cy="chapter" formControlName="chapter" />
        </div>

        <div class="mb-3" *ngIf="ua.created.visible">
          <label class="form-label" for="field_created">Created</label>
          <div class="d-flex">
            <input
              id="field_created"
              data-cy="created"
              type="datetime-local"
              class="form-control"
              name="created"
              formControlName="created"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3" *ngIf="ua.updated.visible">
          <label class="form-label" for="field_updated">Updated</label>
          <div class="d-flex">
            <input
              id="field_updated"
              data-cy="updated"
              type="datetime-local"
              class="form-control"
              name="updated"
              formControlName="updated"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3" *ngIf="ua.released.visible">
          <label class="form-label" for="field_released">Released</label>
          <div class="d-flex">
            <input
              id="field_released"
              data-cy="released"
              type="datetime-local"
              class="form-control"
              name="released"
              formControlName="released"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3" *ngIf="ua.archived.visible">
          <label class="form-label" for="field_archived">Archived</label>
          <div class="d-flex">
            <input
              id="field_archived"
              data-cy="archived"
              type="datetime-local"
              class="form-control"
              name="archived"
              formControlName="archived"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3" *ngIf="ua.articleCategory.visible">
          <label class="form-label" for="field_articleCategory">Article Category</label>
          <select
            class="form-control"
            id="field_articleCategory"
            data-cy="articleCategory"
            name="articleCategory"
            formControlName="articleCategory"
            [compareWith]="compareArticleCategory"
          >
            <option [ngValue]="null"></option>
            @for (articleCategoryOption of articleCategoriesSharedCollection; track $index) {
              <option [ngValue]="articleCategoryOption">{{ articleCategoryOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3" *ngIf="ua.coach.visible">
          <label class="form-label" for="field_coach">Coach</label>
          <select class="form-control" id="field_coach" data-cy="coach" name="coach" formControlName="coach" [compareWith]="compareCoach">
            <option [ngValue]="null"></option>
            @for (coachOption of coachesSharedCollection; track $index) {
              <option [ngValue]="coachOption">{{ coachOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
