<div>
  <h2 id="page-heading" data-cy="VideoCategoryHeading">
    <span>Video Categories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-video-category"
        [routerLink]="['/video-category/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Video Category</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (videoCategories?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Video Categories found</span>
    </div>
  }

  @if (videoCategories && videoCategories.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id" *ngIf="ua.id.listable">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="code" *ngIf="ua.code.listable">
              <div class="d-flex">
                <span>Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title" *ngIf="ua.title.listable">
              <div class="d-flex">
                <span>Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="label" *ngIf="ua.label.listable">
              <div class="d-flex">
                <span>Label</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="created" *ngIf="ua.created.listable">
              <div class="d-flex">
                <span>Created</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="released" *ngIf="ua.released.listable">
              <div class="d-flex">
                <span>Released</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="archived" *ngIf="ua.archived.listable">
              <div class="d-flex">
                <span>Archived</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (videoCategory of videoCategories; track trackId) {
            <tr data-cy="entityTable">
              <td *ngIf="ua.id.listable">
                <a [routerLink]="['/video-category', videoCategory.id, 'view']">{{ videoCategory.id }}</a>
              </td>
              <td *ngIf="ua.code.listable">{{ videoCategory.code }}</td>
              <td *ngIf="ua.title.listable">{{ videoCategory.title }}</td>
              <td *ngIf="ua.label.listable">{{ videoCategory.label }}</td>
              <td *ngIf="ua.created.listable">{{ videoCategory.created | formatMediumDatetime }}</td>
              <td *ngIf="ua.released.listable">{{ videoCategory.released | formatMediumDatetime }}</td>
              <td *ngIf="ua.archived.listable">{{ videoCategory.archived | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/video-category', videoCategory.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                  </a>

                  <a [routerLink]="['/video-category', videoCategory.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </a>

                  <button type="submit" (click)="delete(videoCategory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
