<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (staff) {
      <div>
        <h2 data-cy="staffDetailsHeading"><span>Staff</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt *ngIf="ua.id.visible"><span>ID</span></dt>
          <dd *ngIf="ua.id.visible">
            <span>{{ staff.id }}</span>
          </dd>
          <dt *ngIf="ua.agency.visible"><span>Agency</span></dt>
          <dd *ngIf="ua.agency.visible">
            @if (staff.agency) {
              <div>
                <a [routerLink]="['/agency', staff.agency.id, 'view']">{{ staff.agency.name }}</a>
              </div>
            }
          </dd>
          <dt *ngIf="ua.userId.visible"><span>User Id</span></dt>
          <dd *ngIf="ua.userId.visible">
            <span>{{ staff.userId }}</span>
          </dd>
          <dt *ngIf="ua.role.visible"><span>Role</span></dt>
          <dd *ngIf="ua.role.visible">
            <span>{{ staff.role }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/staff', staff.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
