<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (coach) {
      <div>
        <h2 data-cy="coachDetailsHeading"><span>Coach</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt *ngIf="ua.id.visible"><span>ID</span></dt>
          <dd *ngIf="ua.id.visible">
            <span>{{ coach.id }}</span>
          </dd>
          <dt *ngIf="ua.type.visible"><span>Type</span></dt>
          <dd *ngIf="ua.type.visible">
            <span>{{ coach.type }}</span>
          </dd>
          <dt *ngIf="ua.name.visible"><span>Name</span></dt>
          <dd *ngIf="ua.name.visible">
            <span>{{ coach.name }}</span>
          </dd>
          <dt *ngIf="ua.email.visible"><span>Email</span></dt>
          <dd *ngIf="ua.email.visible">
            <span>{{ coach.email }}</span>
          </dd>
          <dt *ngIf="ua.website.visible"><span>Website</span></dt>
          <dd *ngIf="ua.website.visible">
            <span>{{ coach.website }}</span>
          </dd>
          <dt *ngIf="ua.instagram.visible"><span>Instagram</span></dt>
          <dd *ngIf="ua.instagram.visible">
            <span>{{ coach.instagram }}</span>
          </dd>
          <dt *ngIf="ua.phoneNumber.visible"><span>Phone Number</span></dt>
          <dd *ngIf="ua.phoneNumber.visible">
            <span>{{ coach.phoneNumber }}</span>
          </dd>
          <dt *ngIf="ua.country.visible"><span>Country</span></dt>
          <dd *ngIf="ua.country.visible">
            <span>{{ coach.country }}</span>
          </dd>
          <dt *ngIf="ua.speaks.visible"><span>Speaks</span></dt>
          <dd *ngIf="ua.speaks.visible">
            <span>{{ coach.speaks }}</span>
          </dd>
          <dt *ngIf="ua.resume.visible"><span>Resume</span></dt>
          <dd *ngIf="ua.resume.visible">
            <span>{{ coach.resume }}</span>
          </dd>
          <dt *ngIf="ua.notes.visible"><span>Notes</span></dt>
          <dd *ngIf="ua.notes.visible">
            <span>{{ coach.notes }}</span>
          </dd>
          <dt *ngIf="ua.created.visible"><span>Created</span></dt>
          <dd *ngIf="ua.created.visible">
            <span>{{ coach.created | formatMediumDatetime }}</span>
          </dd>
          <dt *ngIf="ua.updated.visible"><span>Updated</span></dt>
          <dd *ngIf="ua.updated.visible">
            <span>{{ coach.updated | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/coach', coach.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
