<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (customer) {
      <div>
        <h2 data-cy="customerDetailsHeading"><span>Customer</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt *ngIf="ua.id.visible"><span>ID</span></dt>
          <dd *ngIf="ua.id.visible">
            <span>{{ customer.id }}</span>
          </dd>
          <dt *ngIf="ua.agency.visible"><span>Agency</span></dt>
          <dd *ngIf="ua.agency.visible">
            @if (customer.agency) {
              <div>
                <a [routerLink]="['/agency', customer.agency.id, 'view']">{{ customer.agency.name }}</a>
              </div>
            }
          </dd>
          <dt *ngIf="ua.code.visible"><span>Code</span></dt>
          <dd *ngIf="ua.code.visible">
            <span>{{ customer.code }}</span>
          </dd>
          <dt *ngIf="ua.name.visible"><span>Name</span></dt>
          <dd *ngIf="ua.name.visible">
            <span>{{ customer.name }}</span>
          </dd>
          <dt *ngIf="ua.country.visible"><span>Country</span></dt>
          <dd *ngIf="ua.country.visible">
            <span>{{ customer.country }}</span>
          </dd>
          <dt *ngIf="ua.state.visible"><span>State</span></dt>
          <dd *ngIf="ua.state.visible">
            <span>{{ customer.state }}</span>
          </dd>
          <dt *ngIf="ua.license.visible"><span>License</span></dt>
          <dd *ngIf="ua.license.visible">
            <span>{{ customer.license }}</span>
          </dd>
          <dt *ngIf="ua.billingEmail.visible"><span>Billing Email</span></dt>
          <dd *ngIf="ua.billingEmail.visible">
            <span>{{ customer.billingEmail }}</span>
          </dd>
          <dt *ngIf="ua.vatId.visible"><span>Vat Id</span></dt>
          <dd *ngIf="ua.vatId.visible">
            <span>{{ customer.vatId }}</span>
          </dd>
          <dt *ngIf="ua.vatRate.visible"><span>Vat Rate</span></dt>
          <dd *ngIf="ua.vatRate.visible">
            <span>{{ customer.vatRate }}</span>
          </dd>
          <dt *ngIf="ua.bank.visible"><span>Bank</span></dt>
          <dd *ngIf="ua.bank.visible">
            <span>{{ customer.bank }}</span>
          </dd>
          <dt *ngIf="ua.iban.visible"><span>Iban</span></dt>
          <dd *ngIf="ua.iban.visible">
            <span>{{ customer.iban }}</span>
          </dd>
          <dt *ngIf="ua.logo.visible"><span>Logo</span></dt>
          <dd *ngIf="ua.logo.visible">
            <span>{{ customer.logo }}</span>
          </dd>
          <dt *ngIf="ua.notes.visible"><span>Notes</span></dt>
          <dd *ngIf="ua.notes.visible">
            <span>{{ customer.notes }}</span>
          </dd>
          <dt *ngIf="ua.created.visible"><span>Created</span></dt>
          <dd *ngIf="ua.created.visible">
            <span>{{ customer.created | formatMediumDatetime }}</span>
          </dd>
          <dt *ngIf="ua.updated.visible"><span>Updated</span></dt>
          <dd *ngIf="ua.updated.visible">
            <span>{{ customer.updated | formatMediumDatetime }}</span>
          </dd>
          <dt *ngIf="ua.trialed.visible"><span>Trialed</span></dt>
          <dd *ngIf="ua.trialed.visible">
            <span>{{ customer.trialed | formatMediumDatetime }}</span>
          </dd>
          <dt *ngIf="ua.declined.visible"><span>Declined</span></dt>
          <dd *ngIf="ua.declined.visible">
            <span>{{ customer.declined | formatMediumDatetime }}</span>
          </dd>
          <dt *ngIf="ua.activated.visible"><span>Activated</span></dt>
          <dd *ngIf="ua.activated.visible">
            <span>{{ customer.activated | formatMediumDatetime }}</span>
          </dd>
          <dt *ngIf="ua.closed.visible"><span>Closed</span></dt>
          <dd *ngIf="ua.closed.visible">
            <span>{{ customer.closed | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/customer', customer.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
