<div>
  <h2 id="page-heading" data-cy="ApsPlanHeading">
    <span>Aps Plans</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-aps-plan"
        [routerLink]="['/aps-plan/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>New Aps Plan</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (apsPlans?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Aps Plans found</span>
    </div>
  }

  @if (apsPlans && apsPlans.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id" *ngIf="ua.id.listable">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contract" *ngIf="ua.contract.listable">
              <div class="d-flex">
                <span>Contract</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pricing" *ngIf="ua.pricing.listable">
              <div class="d-flex">
                <span>Pricing</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="state" *ngIf="ua.state.listable">
              <div class="d-flex">
                <span>State</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="license" *ngIf="ua.license.listable">
              <div class="d-flex">
                <span>License</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="starts" *ngIf="ua.starts.listable">
              <div class="d-flex">
                <span>Starts</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ends" *ngIf="ua.ends.listable">
              <div class="d-flex">
                <span>Ends</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="unitPrice"*ngIf="ua.unitPrice.listable">
              <div class="d-flex">
                <span>Unit Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="notes"*ngIf="ua.notes.listable">
              <div class="d-flex">
                <span>Notes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="created"*ngIf="ua.created.listable">
              <div class="d-flex">
                <span>Created</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updated"*ngIf="ua.updated.listable">
              <div class="d-flex">
                <span>Updated</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customer.id"*ngIf="ua.customer.listable">
              <div class="d-flex">
                <span>Customer</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (apsPlan of apsPlans; track trackId) {
            <tr data-cy="entityTable">
              <td *ngIf="ua.id.listable">
                <a [routerLink]="['/aps-plan', apsPlan.id, 'view']">{{ apsPlan.id }}</a>
              </td>
              <td *ngIf="ua.contract.listable">{{ apsPlan.contract }}</td>
              <td *ngIf="ua.pricing.listable">{{ apsPlan.pricing }}</td>
              <td *ngIf="ua.state.listable">{{ apsPlan.state }}</td>
              <td *ngIf="ua.license.listable">{{ apsPlan.license }}</td>
              <td *ngIf="ua.starts.listable">{{ apsPlan.starts | formatMediumDate }}</td>
              <td *ngIf="ua.ends.listable">{{ apsPlan.ends | formatMediumDate }}</td>
              <td *ngIf="ua.unitPrice.listable">{{ apsPlan.unitPrice }}</td>
              <td *ngIf="ua.notes.listable">{{ apsPlan.notes }}</td>
              <td *ngIf="ua.created.listable">{{ apsPlan.created | formatMediumDatetime }}</td>
              <td *ngIf="ua.updated.listable">{{ apsPlan.updated | formatMediumDatetime }}</td>
              <td *ngIf="ua.customer.listable">
                @if (apsPlan.customer) {
                  <div>
                    <a [routerLink]="['/customer', apsPlan.customer.id, 'view']">{{ apsPlan.customer.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/aps-plan', apsPlan.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                  </a>

                  <a [routerLink]="['/aps-plan', apsPlan.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </a>

                  <button type="submit" (click)="delete(apsPlan)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
