<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-play-list-heading" data-cy="PlayListCreateUpdateHeading">Create or edit a Play List</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3" *ngIf="ua.id.visible">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3" *ngIf="ua.name.visible">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.counter.visible">
          <label class="form-label" for="field_counter">Counter</label>
          <input type="number" class="form-control" name="counter" id="field_counter" data-cy="counter" formControlName="counter" />
          @if (editForm.get('counter')!.invalid && (editForm.get('counter')!.dirty || editForm.get('counter')!.touched)) {
            <div>
              @if (editForm.get('counter')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('counter')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.created.visible">
          <label class="form-label" for="field_created">Created</label>
          <div class="d-flex">
            <input
              id="field_created"
              data-cy="created"
              type="datetime-local"
              class="form-control"
              name="created"
              formControlName="created"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('created')!.invalid && (editForm.get('created')!.dirty || editForm.get('created')!.touched)) {
            <div>
              @if (editForm.get('created')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('created')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.updated.visible">
          <label class="form-label" for="field_updated">Updated</label>
          <div class="d-flex">
            <input
              id="field_updated"
              data-cy="updated"
              type="datetime-local"
              class="form-control"
              name="updated"
              formControlName="updated"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('updated')!.invalid && (editForm.get('updated')!.dirty || editForm.get('updated')!.touched)) {
            <div>
              @if (editForm.get('updated')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('updated')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.apsUser.visible">
          <label class="form-label" for="field_apsUser">Aps User</label>
          <select
            class="form-control"
            id="field_apsUser"
            data-cy="apsUser"
            name="apsUser"
            formControlName="apsUser"
            [compareWith]="compareApsUser"
          >
            <option [ngValue]="null"></option>
            @for (apsUserOption of apsUsersSharedCollection; track $index) {
              <option [ngValue]="apsUserOption">{{ apsUserOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
