<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-invoice-heading" data-cy="InvoiceCreateUpdateHeading">Invoice</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3" *ngIf="ua.id.visible">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3" *ngIf="ua.number.visible">
          <label class="form-label" for="field_number">Number</label>
          <input type="text" class="form-control" name="number" id="field_number" data-cy="number" formControlName="number" />
          @if (editForm.get('number')!.invalid && (editForm.get('number')!.dirty || editForm.get('number')!.touched)) {
            <div>
              @if (editForm.get('number')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.issued.visible">
          <label class="form-label" for="field_issued">Issued</label>
          <div class="d-flex">
            <input
              id="field_issued"
              data-cy="issued"
              type="datetime-local"
              class="form-control"
              name="issued"
              formControlName="issued"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('issued')!.invalid && (editForm.get('issued')!.dirty || editForm.get('issued')!.touched)) {
            <div>
              @if (editForm.get('issued')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('issued')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.dueDate.visible">
          <label class="form-label" for="field_dueDate">Due Date</label>
          <div class="input-group">
            <input
              id="field_dueDate"
              data-cy="dueDate"
              type="text"
              class="form-control"
              name="dueDate"
              ngbDatepicker
              #dueDateDp="ngbDatepicker"
              formControlName="dueDate"
            />
            <button type="button" class="btn btn-secondary" (click)="dueDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (editForm.get('dueDate')!.invalid && (editForm.get('dueDate')!.dirty || editForm.get('dueDate')!.touched)) {
            <div>
              @if (editForm.get('dueDate')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.saleDate.visible">
          <label class="form-label" for="field_saleDate">Sale Date</label>
          <div class="input-group">
            <input
              id="field_saleDate"
              data-cy="saleDate"
              type="text"
              class="form-control"
              name="saleDate"
              ngbDatepicker
              #saleDateDp="ngbDatepicker"
              formControlName="saleDate"
            />
            <button type="button" class="btn btn-secondary" (click)="saleDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (editForm.get('saleDate')!.invalid && (editForm.get('saleDate')!.dirty || editForm.get('saleDate')!.touched)) {
            <div>
              @if (editForm.get('saleDate')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.subtotal.visible">
          <label class="form-label" for="field_subtotal">Subtotal</label>
          <input type="number" class="form-control" name="subtotal" id="field_subtotal" data-cy="subtotal" formControlName="subtotal" />
          @if (editForm.get('subtotal')!.invalid && (editForm.get('subtotal')!.dirty || editForm.get('subtotal')!.touched)) {
            <div>
              @if (editForm.get('subtotal')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('subtotal')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.vat.visible">
          <label class="form-label" for="field_vat">Vat</label>
          <input type="number" class="form-control" name="vat" id="field_vat" data-cy="vat" formControlName="vat" />
          @if (editForm.get('vat')!.invalid && (editForm.get('vat')!.dirty || editForm.get('vat')!.touched)) {
            <div>
              @if (editForm.get('vat')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('vat')?.errors?.number">This field should be a number.</small>
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.total.visible">
          <label class="form-label" for="field_total">Total</label>
          <input type="number" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
          @if (editForm.get('total')!.invalid && (editForm.get('total')!.dirty || editForm.get('total')!.touched)) {
            <div>
              @if (editForm.get('total')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('total')?.errors?.number">This field should be a number.</small>
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="ua.paid.visible">
          <label class="form-label" for="field_paid">Paid</label>
          <input type="number" class="form-control" name="paid" id="field_paid" data-cy="paid" formControlName="paid" />
        </div>

        <div class="mb-3" *ngIf="ua.paidDate.visible">
          <label class="form-label" for="field_paidDate">Paid Date</label>
          <div class="input-group">
            <input
              id="field_paidDate"
              data-cy="paidDate"
              type="text"
              class="form-control"
              name="paidDate"
              ngbDatepicker
              #paidDateDp="ngbDatepicker"
              formControlName="paidDate"
            />
            <button type="button" class="btn btn-secondary" (click)="paidDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3" *ngIf="ua.diff.visible">
          <label class="form-label" for="field_diff">Diff</label>
          <input type="number" class="form-control" name="diff" id="field_diff" data-cy="diff" formControlName="diff" />
        </div>

        <div class="mb-3" *ngIf="ua.notes.visible">
          <label class="form-label" for="field_notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
        </div>

        <div class="mb-3" *ngIf="ua.apsOrder.visible">
          <label class="form-label" for="field_apsOrder">Aps Order</label>
          <select
            class="form-control"
            id="field_apsOrder"
            data-cy="apsOrder"
            name="apsOrder"
            formControlName="apsOrder"
            [compareWith]="compareApsOrder"
          >
            <option [ngValue]="null"></option>
            @for (apsOrderOption of apsOrdersSharedCollection; track $index) {
              <option [ngValue]="apsOrderOption">{{ apsOrderOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
