<div>
  <h2 id="page-heading" data-cy="InvoiceItemHeading">
    <span>Invoice Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-invoice-item"
        [routerLink]="['/invoice-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>New Invoice Item</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (invoiceItems?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Invoice Items found</span>
    </div>
  }

  @if (invoiceItems && invoiceItems.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id" *ngIf="ua.id.listable">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type" *ngIf="ua.type.listable">
              <div class="d-flex">
                <span>Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description" *ngIf="ua.description.listable">
              <div class="d-flex">
                <span>Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quantity" *ngIf="ua.quantity.listable">
              <div class="d-flex">
                <span>Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="priceUnit" *ngIf="ua.priceUnit.listable">
              <div class="d-flex">
                <span>Price Unit</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="subtotal" *ngIf="ua.subtotal.listable">
              <div class="d-flex">
                <span>Subtotale</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vatRate" *ngIf="ua.vatRate.listable">
              <div class="d-flex">
                <span>Vat Rate</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vat" *ngIf="ua.vat.listable">
              <div class="d-flex">
                <span>Vat</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="total" *ngIf="ua.total.listable">
              <div class="d-flex">
                <span>Total</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="invoice.id" *ngIf="ua.invoice.listable">
              <div class="d-flex">
                <span>Invoice</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (invoiceItem of invoiceItems; track trackId) {
            <tr data-cy="entityTable">
              <td *ngIf="ua.id.listable">
                <a [routerLink]="['/invoice-item', invoiceItem.id, 'view']">{{ invoiceItem.id }}</a>
              </td>
              <td *ngIf="ua.type.listable">{{ invoiceItem.type }}</td>
              <td *ngIf="ua.description.listable">{{ invoiceItem.description }}</td>
              <td *ngIf="ua.quantity.listable">{{ invoiceItem.quantity }}</td>
              <td *ngIf="ua.priceUnit.listable">{{ invoiceItem.priceUnit }}</td>
              <td *ngIf="ua.subtotal.listable">{{ invoiceItem.subtotal }}</td>
              <td *ngIf="ua.vatRate.listable">{{ invoiceItem.vatRate }}</td>
              <td *ngIf="ua.vat.listable">{{ invoiceItem.vat }}</td>
              <td *ngIf="ua.total.listable">{{ invoiceItem.total }}</td>
              <td *ngIf="ua.invoice.listable">
                @if (invoiceItem.invoice) {
                  <div>
                    <a [routerLink]="['/invoice', invoiceItem.invoice.id, 'view']">{{ invoiceItem.invoice.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/invoice-item', invoiceItem.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                  </a>

                  <a [routerLink]="['/invoice-item', invoiceItem.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </a>

                  <button type="submit" (click)="delete(invoiceItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
